body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

h1, h3, h4, h5 {
  font-size: 1rem;
  color: var(--title-color)
}

p {
  font-size: .95rem;
  color: var(--desc-color);
}

a {
  text-decoration: none;
  color: var(--title-color);
}

svg {
  color: var(--title-color);
  font-size: 40px;
  transition: color .2s ease-in;
  -webkit-transition: color .2s ease-in;
  -moz-transition: color .2s ease-in;
  -ms-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
}

svg:hover {
  color: var(--link-hover-color);
}


/* Responsive */
@media screen and (max-width: 800px) {
  body {
    margin: 0 1rem;
  }
}