:root {
  --title-color: rgba(255, 255, 255);
  --desc-color: rgba(190, 190, 190);
  --projects-container-hover-title: rgba(255, 255, 255, 0.4);
  --projects-container-hover-desc: rgba(140, 140, 140, 0.4);
  --project-bg-hover: rgba(51, 65, 85, 0.2);
  --link-hover-color: #007bff;
  --sticky-bg-color: rgba(30, 41, 59, 0.9);
  --gradient-text-color: -webkit-linear-gradient(90deg,#2A54F5 0%, #8295df 40%,#33E5BB 75%);
  --gradient-text-color-certification: -webkit-linear-gradient(45deg,#2A54F5 0%, #8295df 40%,#33E5BB 75%);
}

html {
  background-color: #1E293B;
  scroll-behavior: smooth;
  margin: 0 2.5rem 0 1rem;
}
